@import "tailwindcss";

@theme {
  /* font family */

  --font-urbanist: var(--font-urbanist);
  --font-outfit: var(--font-outfit);
  --color-primary: #01081b;
  --color-accent: #932efa;
  --color-secondary: #4d525f;
  --color-btn-primary: #2e68fd;

  /* feature box color */
  --color-light-blue: #f3f7ff;
  --color-light-orange: #fbf6ef;
  --color-light-green: #eef9fe;
  --color-light-purple: #f4edfc;

  /* how it works background */
  --color-bg-gray: #f6f6f6;
  --color-light-gray: #f3f3f3;
}

@layer components {
  .section-spacing {
    @apply p-4 md:p-6 lg:py-6 lg:px-12 xl:px-16 2xl:px-24;
  }
  .heading-4 {
    @apply text-primary text-xl font-bold;
  }
  .paragraph {
    @apply text-secondary font-outfit;
  }
}
html {
  scroll-behavior: smooth;
}
